a {
	color: #1481B1;
}

form {
	margin: 5px;
}

img.avatar {
	padding-right: 5px;
	float: left;
	height: 25px;
	width: 25px;
}

.tweet .name {
	color: #09435D;
}

.via, span.via > a {
	color: #555;
	font: 90% sans-serif;
}

body {
	background: #FFF;
	color: #333;
	margin: 0;
	font: 90% sans-serif;
}

li {
	list-style-type: none;
	padding: 5px;
}

ul {
	margin: 0px;
	padding: 0px;
}

.update textarea {
	max-width: 400px;
	width: 99%;
}

.status {
	margin-top: 5px;
}

.tweet {
	display: block;
	overflow: hidden;
}

.name, .reply, .replyall, .direct, .favor, .retweet, .time, .direct-reply, .direct-delete {
	margin: 3px;
}

ul > li {
	background: #EEE;
}

ul > li.even {
	background: #FFF;
}

ul > li.mentioned {
	background: #FFA;
}

.menu {
	color: #333;
	background: #9AE4E8;
	padding: 2px;
}

.menu a {
	color: #333;
	text-decoration: none;
}
