a {
	color: #1481B1;
}

form {
	margin: .3em;
}

img.avatar {
	padding-right: 5px;
	float: left;
	height: 100%;
	max-height: 25px;
	width: 100%;
	max-width: 25px;
}

.via, span.via > a {
	color: #555;
	font: 70% sans-serif;
}

body {
	background: #FFF;
	color: #333;
	margin: 0;
	font: 90% sans-serif;
}

li {
	list-style-type: none;
	padding: 5px;
}

ul {
	margin: 0px;
	padding: 0px;
}

.new textarea {
	width: 100%;
	max-width: 400px;
}

.status {
	margin-top: 5px;
}

.tweet {
	display: block;
	overflow: hidden;
}

.name, .reply, .replyall, .direct, .favor, .retweet, .time {
	margin: 3px;
}

ul.tweets > li {
	background: #EEE;
}

ul.tweets > li.even {
	background: #FFF;
}

ul.tweets > li.mentioned {
	background: #FFA;
}

.menu {
	color: #333;
	background: #9AE4E8;
	padding: 2px;
}

.menu a {
	color: #333;
	text-decoration: none;
}
